<div id="<%= dom_id merchant %>">
  <p>
    <strong>Name:</strong>
    <%= merchant.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= merchant.email %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= merchant.description %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= merchant.password %>
  </p>

  <p>
    <strong>Password confirmation:</strong>
    <%= merchant.password_confirmation %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= merchant.status %>
  </p>

</div>
