<div id="<%= dom_id merchant %>">
  <p>
    <strong>Name:</strong>
    <%= merchant.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= merchant.email %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= merchant.description %>
  </p>

  <p>
    <strong>Total transaction sum:</strong>
    <%= merchant.total_transaction_sum.to_f %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= merchant.status %>
  </p>

</div>
