<h4>Transaction Listing</h4>

<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Type</th>
      <th>Merchant ID</th>
      <th>Status</th>
      <th>Customer Email</th>
      <th>Amount</th>
    </tr>
  </thead>
  <tbody>
    <% @transactions.each do |transaction| %>
      <tr>
        <td><%= transaction.id %></td>
        <td><%= transaction.transaction_type %></td>
        <td><%= transaction.merchant.name %></td>
        <td><%= transaction.status %></td>
        <td><%= transaction.customer_email %></td>
        <td><%= transaction.try(:payment).try(:amount) %></td>
      </tr>
    <% end %>
  </tbody>
</table>